h1{
	text-align: center;
	color: #FFFFFF;
	font-family: Helvetica;
}
h2{
	color: #FFFFFF;
	font-family: Helvetica;
}
a{
	text-decoration: none;
	color: #FFFFFF;
	padding: 5px;
	margin:2px;
	border: 1px
	background-color:#000000;
}
a:hover{
	text-decoration: none;
	color: #000000;
	padding: 4px;
	margin:5px;
	border: 1px;
	background-color: #FFFFFF;

}
